* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}


.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 1vh 0;
  height: 90px;
}

.lists-left {
  display: flex;
  min-width: 200px;
  margin-right:auto;
  height: 90px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  height: 90px;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.logo-image{
  width: 250px;
  height: 90px;
  object-fit: contain;
  
}

.user_nav {
  position: relative;
  height: 100px;
  right: 0;
}





.user_nav span {
  top: 38px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

.user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

.user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

.user_nav ul {
  display: none;
  position: absolute;
  top: 10;
  right: auto;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
}

.user_nav ul li {
  background-color: #f0f0f0;
}

.user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}



.user_nav ul li a:hover{
  opacity: 0.5;
}




