<div class="contents row">
  <h1><%= @user.nickname %>さんのお気に入り一覧</h1>
  <% if @favorites.present?%>
    <% @favorites.each do |favorite| %>
      <%# <div class="content_post" style="background-image: url(<%= tweet.image %> 
        <p><%= favorite.spot.shop_name %></p>
      <%# </div>  %>
    <% end  %>
  <% end %>
</div>