<div class="contents row">
  <p><%= @nickname %>さんの●●一覧</p>
  <% if @favorites.present?%>
    <% @favorites.each do |favorite| %>
      <%# <div class="content_post" style="background-image: url(<%= tweet.image %> 
        <p><%= favorite.spot.shop_name %></p>
      <%# </div>  %>
    <% end  %>
  <% end %>
</div>