<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
  <h2 class='ad-footer-title'>
  </h2>
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("/images/apple_store.svg",class:"apple-btn"), "#" %>
    <%= link_to image_tag("/images/google-play-badge.png",class:"google-btn"), "#" %>
  </div>
</div>