a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  background: linear-gradient(315deg, rgba(250, 68, 101, 0.6), rgba(105, 188, 200, 0.6)) ,url(/images/top_image01.jpeg);
  // background-image: image-url('top_image01.jpeg');
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  height: 850px;
}

.service-title {
  font-size: 8vh;
  color: #FFF;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 6.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 400px;
  height: 4px;
  background-color: #FF6347;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.feature-lists>.list {
  width: 50vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  height: 100px;
  margin: 15px 15px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 10px;
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10vw 15vh 10vw;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  padding: 10px;
  height: 200px;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.spot-info {
  background-color: #FFF;
  color: black;
  width: 200px;
  margin: 5px 5px;
}

.spot-name {
  font-size: 17px;
  padding: 5px;
}

.spot-address {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.favorite-list-title{
  text-align: center;
    font-size: 6.5vh;
    font-weight: bold;
    margin-bottom: 15vh;
    margin-top: 5vh;
    position: relative;
}

.item-contents > .favorite-list-title::after {
  content: '';
  width: 400px;
  height: 4px;
  background-color: #FF6347;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-pic{
  width: 200px;
  height: 200px;
  object-fit: cover; 
}

