/* 商品の概要 */
.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 20vw;
  justify-content: center;
  margin: 10px auto;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.or-text {
  font-size: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-spot {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

#average-review{
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.comment-box {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.user-avatar{
  height: 80px;
  margin-top: 5px;
}

.review-box-left{
  justify-content: flex-start;
  margin: 15px 0px;
}

.reviews-box{
  width: 70vw;
  text-align: left;
  padding: 5vh 20vw 5Vh 10vw;
}

#comment{
  position: relative;
  display: inline-block;
  margin: 20px 5px 15px 5px;
  padding: 5px 15px;
  width: 45vw;
  min-height: 20vh;
  color: #555;
  font-size: 16px;
  background: #EEEEEE;
  border-radius: 10px;
  }
#comment::before { /* 三角の部分 */
  content: "";
  position: absolute;
  top: -30px;
  left: 5%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #EEEEEE;
}

.btn-img{
  width: 18px;
  height: 18px;
  margin-top: 5px;
}

.nickname{
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 10px 15px;
}

.fix-btn {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #B0C4DE;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  position: relative;
  margin: 10px 5px 10px 0px;
}

.fix-btn:before {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.fix-btn:hover {
  opacity: 0.8;
}

.item-explain-box{
  margin-bottom: 30px
}

.shop-image{
  margin: 15px 0px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}