<%= render "shared/header" %>

<div class = "review-submit-box">
  <div class= "page-title">
    クチコミ編集
  </div>

<%#= render 'shared/review_error_messages', {spot: @spot} %>

<%= form_with(model: @spot, url: spot_review_path(spot_id: @spot), method: :patch, local: true) do |f| %>
  <%= render partial: 'shared/review_form', model: @spot, locals: {f: f} %>
<% end %>

<%= render "shared/footer" %>



