<%= render "shared/header" %>

<div class = "review-submit-box">
  <div class= "page-title">
    クチコミ投稿
  </div>

  <%= render 'shared/review_error_messages', model: @review %>

  <%= render 'shared/review_form', model: @spot %>


  
<%= render "shared/footer" %>


