.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #FF6347;
  border: 1px solid #FF6347;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/images/coworking_cafe.png');
  background-size: cover;
}

