.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #FF6347;
  border: 1px solid #FF6347;
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/images/coworking_cafe.png');
  background-size: cover;
}

.guest-login-box{
  padding: 30px 30px 0 30px;
  width: 250px;
  margin: auto;
  font-size: 16px;
}

.guest-login-title{
  text-align: center;
}

.guest-id{
  text-align: left;
}

.guest-password{
  text-align: left;
}

.sign_up_link{
  text-align: center;
  margin-top: 30px;
}