.user-info-box{
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 10vw;
  justify-content: center;
  margin: 10px auto;
}

.favorite-lists{
  margin-top: 25px;
  float: left;
  display: flex;
  align-items:stretch; 
  justify-content: flex-start;
  flex-wrap: wrap;    
}

.review-lists{
  margin-top: 25px;
  float: left;
  display: flex;
  align-items:stretch; 
  justify-content: flex-start;
  flex-wrap: wrap;    
}

.review-detail{
  width: 270px;
  height: 130px;
  margin: 15px 5px;
  flex-wrap: wrap;
}

.favorite-detail{
  width: 270px;
  height: 330px;
  margin: 15px 5px;
  flex-wrap: wrap;
}

.review-lists-title{
  font-weight: bold;
  margin-top: 60px;
}

.no-review-message {
  color: gray;
  margin: 0px 5px 30px 5px;
}

.no-favorite-message {
  color: gray;
  margin: 0px 5px 30px 5px;
}

.favorite-spot-image{
  width: 15vw;
  text-align: center;
}
.favorite-spot-name{
  height: 60px;
  padding: 5px;
  font-size: 15px;
}

.favorite-lists-title{
  font-weight: bold;
}

.mypage-btn {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #B0C4DE;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  position: relative;
  margin: 5px 0 5px 5px;
}

.mypage-btn:before {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.mypage-btn:hover {
  opacity: 0.8;
}

.reviewed-spot-name{
  height: 50px;
  font-size: 15px;
  padding: 0 5px 0 0;
}

.review-detail{
  width: 270px;
  height: 420px;
  margin: 15px 5px;
  flex-wrap: wrap;
}

.reviewed-spot-image{
  margin: 5px 0 0 0;
}